.wrapper, .content {
  position: relative;
  width: 100%;
  z-index: 1;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; 
}

.wrapper {
  width: 100%; 
  max-width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  left: 0 !important; 
}

.pin-spacer {
  margin: 0 !important;
  padding: 0 !important;
  left: 0 !important; 
}

.section.hero {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/Mountain2.png");
  background-position: 89% 15%;
  background-repeat: no-repeat;
  background-size: cover;
}

.section.hero > *:first-child {
  margin-top: 0;
}

.fixed-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.wrapper {
  position: relative;
  z-index: 1;
}

.block {
  position: relative;
  width: 100%;
  background-color: #1f2e38;
  z-index: 1;
}

.gradient-fade-bot {
  height: 300px;
  margin-top: -300px;
  background: linear-gradient(to bottom, transparent, #1f2e38);
  position: relative;
  z-index: 2;
}



.image-overlay-container {
  pointer-events: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 10;
  perspective: 500px;
  overflow: hidden;
}

.background-overlay {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



